body {
  background-color: bisque;
  font-family: "Arial";
}
/*  Put your CSS Here */
#container {
  width: 900px;
  padding: 25px 25px 25px 25px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  font-family: "Georgia";
  background-color: #7777ff;
  height: 45px;
  text-align: left;
}
#pictureInserts {
  padding: 10px;
}
#main {
  font-family: "Arial";
  font-size: 25px;
}
h1 {
  color: white;
}
h2 {
  font-family: "Georgia";
}
#listCareers {
  text-align: justify;
}
#listCareers ul {
  list-style-type: none;
}
#footer {
  position: relative;
  bottom: 0;
}
